@import components/mixin
body
    font-family: "Maven Pro",sans-serif
    margin: 0
.wrapper 
    margin: 0 auto
.white 
    +btn("white") 
.violet 
    +btn("violet")
.vio 
    +btn("vio")


@import components/header
@import components/main
@import components/footer

.flex
    display: flex

ul
    list-style: none
    align-items: center
a 
    text-decoration: none