doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .last.flex
            .log.flex
                img(src='img/Symbol.png') 
                h1 MISOCIAL 
            .nat.flex
                ul.footer-menu.flex
                    +menu(mainMenu, "violet")
        hr
        .copylife.flex
            .copy.flex
                p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
            .social.flex
                a(href="#")
                    img(src='img/f.webp')
                a(href="#")
                    img(src='img/t.webp')
                a(href="#")
                    img(src='img/g.webp')
                a(href="#")
                    img(src='img/in.webp')