doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .wrapper
            .header
                .top.flex
                    .logo.flex
                        img(src='img/Symbol.png') 
                        h1 MISOCIAL 
                    .navmenu.flex  
                        ul.top-menu.flex
                            +menu(mainMenu, "white")
                .pricing-table 
                    strong SOCIAL MARKETING & ANALYTICS
                    h2.title Pricing Table
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                    .downl
                        a(href="#") 
                            img(src="../img/strela.png", alt="")