doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        
        section.one
            .wrapper
                .header
                    .top.flex
                        .logo.flex
                            img(src='img/Symbol.png') 
                            p MISOCIAL 
                        .hamburger 
                            span 
                            span 
                            span    
                        nav.navmenu.flex
                            ul.top-menu.flex#menu
                                +menu(mainMenu, "white") 
                    
                    .PricingTable.wrapper
                        strong SOCIAL MARKETING & ANALYTICS
                        h2 PRICING TABLE 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. 
                        p.poi
                            a(href="#plan" class="pointer")