doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=3.0 minimum-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    body 
        .wrapper
            .header
                .logo
                h2 MISOCIAL
                img(src='img/Symbol.png')
                .menu
                    ul 
                        li 
                            a(href="#") Home
                        li 
                            a(href="#") Why MISOCIAL 
                        li  
                            a(href="#") Features
                        li 
                            a(href="#") Articles
                        li 
                            a(href="#") Pricing                                                 
                    a(href="#") get started
                .PricingTable
                    p SOCIAL MARKETING & ANALYTICS
                    h1 Pricing Table
                    p Lorem ipsum dolor sit amet, consectetur adipisicing <br> elit, sed do eiusmod tempor incididunt ut.
                    a(class='download' href="#")


            .main-menu 
                p MIsocial
                h2 Select a Plan
                p Lorem ipsum dolor sit amet, consectetur adipisicing <br> elit, sed do eiusmod tempor incididunt ut.
                .main 
                    figure
                        .personal 
                            figcaption
                                img(src='img/AssetThree.png')
                                p personal
                                h3 0/month
                                p Lorem ipsum dolor sit amet.
                                p sed do eiusmod tempor incididunt ut.
                                p Labore et dolore magna aliqua.
                                p quis nostrud exercitation ullamco laboris.
                                p Ea commodo consequat.
                                a(href="#") select plan
                    figure
                        .personal 
                            figcaption
                                img(src='img/AssetOne.png')
                                p personal
                                h3 29/month
                                p Lorem ipsum dolor sit amet.
                                p sed do eiusmod tempor incididunt ut.
                                p Labore et dolore magna aliqua.
                                p quis nostrud exercitation ullamco laboris.
                                p Ea commodo consequat.
                                a(href="#") select plan
                    figure
                        .personal 
                            figcaption
                                img(src='img/Assettwo.png')
                                p personal
                                h3 49/month
                                p Lorem ipsum dolor sit amet.
                                p sed do eiusmod tempor incididunt ut.
                                p Labore et dolore magna aliqua.
                                p quis nostrud exercitation ullamco laboris.
                                p Ea commodo consequat.
                                a(href="#") select plan

                .map 
                    p SOCAL MARKETING & ANALYTICS
                    h3 Take control of your data
                    a(href="#") get started
                    a(href="#") explore features
            .footer 
                .logo
                h2 MISOCIAL
                img(src='img/Symbol.png')
                .menu
                    ul 
                        li 
                            a(href="#") Home
                        li 
                            a(href="#") Why MISOCIAL 
                        li  
                            a(href="#") Features
                        li 
                            a(href="#") Articles
                        li 
                            a(href="#") Pricing                                                 
                    a(href="#") get started
                    hr
                .copy 
                    p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
        script(src="js/scripts.js") 