.footer
    padding: 50px 0 30px
    justify-content: center
    align-items: center
    flex-wrap: wrap
    flex-direction: column
    +media(1024)
        flex-direction: row
        justify-content: space-between

    

.log 
    align-items: center
    p
        align-items: center
        font-size: 30px
        letter-spacing: 6px
        line-height: 29px
        color: #37374a
        font-weight: 700
    img 
        
        padding-right: 17px

.footer-menu 
    align-items: center
    flex-wrap: wrap
    justify-content: center
    flex-direction: column
    a 
        padding-left: 19px
        padding-right: 19px
        font-size: 14px
        line-height: 19px
        color: #9fa4af
        font-weight: 500
        &:hover 
            color: #756edc  
    +media(450)
            flex-direction: row
    +media(1030)
        justify-content: space-between
    
.footer-menu
    li
        margin: 10px 0
        text-align: center
        

.get-started 
    padding-top: 10px 
    a 
        border-radius: 25px
        border: 1px solid #d7dbe8
        &:hover 
            color: #ffffff
    +media(1024)
        margin-left: 15px
        padding-top: 0
    

.copyrayt
    flex-direction: column
    align-items: center
    +media(690)
        flex-direction: row
        justify-content: space-between
        
.copy 
    p
        text-align: center
        font-size: 14px
        line-height: 19px
        color: #6a6a77
        font-weight: 500
        margin-top: 30px
        margin-bottom: 25px
.social 
    order: -2
    
    a 
        margin: 0 7px
        svg
            fill: #bdbdc2
            transition: all .5s linear
            &:hover
                fill: #756edc
    +media(690)
        order: 1
.copyrayt 
    a 
        svg 
            fill: #bdbdc2
            transition: all .5s linear