.header
    background: url(../img/maps.png) no-repeat
    background-size: cover

.top
    padding-top: 20px
    justify-content: space-between
    align-items: center
.logo 
    img
        margin-left: 20px
        padding: 7px

.top-menu 
    a
        &:hover 
            text-decoration: underline

.logo 
    h1
        align-items: center
        font-size: 25px
        line-height: 29px
        letter-spacing: 4px
        color: #ffffff
        font-weight: 700
        margin-left: 20px

.navmenu 
    a 
        display: inline-block
        position: relative
        margin: 0 30px
        font-size: 16px
        color: #ffffff
        font-weight: 500
        text-decoration: none


.pricing-table 
    padding-top: 90px
    text-align: center
    strong
        position: relative
        font-size: 14px
        letter-spacing: 1px
        line-height: 32px
        color: #ffffff
        font-weight: 700
        &::before
            content: ""
            position: absolute
            width: 25px
            height: 1px
            right: -30px
            bottom: 8px 
            background-color: #ffffff
        &::after
            content: ""
            position: absolute
            width: 25px
            height: 1px
            left: -30px
            bottom: 8px
            background-color: #ffffff
    h2
        font-size: 86px
        letter-spacing: -3px
        line-height: 72px
        color: #ffffff
        font-weight: 500
        margin: 20px 0 20px
    p 
        font-size: 16px
        line-height: 28px
        color: #ffffff
        font-weight: 400
        width: 70%
        margin: 0 auto

.downl
    padding-top: 180px
    padding-bottom: 50px