.plan 
    padding: 100px 0
    text-align: center
    background-color: #f9fafc

    .flex
        justify-content: center
        flex-wrap: wrap
.main 
    padding-bottom: 75px
    h3 
        font-size: 14px
        letter-spacing: 1px
        line-height: 32px
        color: #9fa4af
        font-weight: 700
    h1 
        margin: 0
        font-size: 60px
        letter-spacing: -2px
        line-height: 72px
        color: #4f4f6f
        font-weight: 500
        font-family: "Maven Pro"
        text-align: center
    p 
        font-size: 16px
        line-height: 28px
        color: #9fa4af
        font-weight: 400
        font-family: "Maven Pro"
        text-align: center

.price-card 
    margin: 10px 20px
    padding: 40px 0
    width: 350px
    border-radius: 30px
    background-color: #ffffff
    border: 1px solid #d7dbe8
    &:hover 
        filter: drop-shadow(0 0 46px rgba(204,204,223,0.71))

.title-card 
    line-height: 32px
    font-size: 14px
    letter-spacing: 1px
    line-height: 32px
    font-weight: 700
    font-family: "Maven Pro"
    color: #9fa4af
.price 
    display: inline-block
    position: relative
    margin: 0
    font-size: 60px
    letter-spacing: -2px
    color: #4f4f6f
    font-weight: 500
    sup 
        content: ""
        position: absolute
        top: 12px
        left: -10px
        font-size: 16px
        letter-spacing: -1px
        color: #4f4f6f
        font-weight: 500
    span 
        font-size: 22px
        letter-spacing: -1px

.card-descr 
    width: 70%
    margin: 0 auto
    padding: 30px 0 50px
    font-size: 16px
    line-height: 28px
    color: #9fa4af
    font-weight: 400
    font-family: "Maven Pro"
    text-align: center

.main 
    text-align: center 
    
    h3 
        position: relative
        display: inline-block
        font-size: 14px
        letter-spacing: 1px
        color: #9fa4af
        font-weight: 700
        &::after
            content: ""
            position: absolute
            width: 25px
            height: 1px
            bottom: 15px
            right: -35px
            background-color: #6e45e2
            
        &::before
            content: ""
            position: absolute
            width: 25px
            height: 1px
            bottom: 15px
            left: -35px
            background-color: #6e45e2
        
    h1 
        font-size: 60px
        letter-spacing: -2px
        color: #4f4f6f
        font-weight: 500 
    p 
        font-size: 16px
        color: #9fa4af
        font-weight: 400
.map
    justify-content: center
    padding: 140px 0 170px
    background: url(../img/glas.png) no-repeat
    background-size: cover
    text-align: center

    p 
        font-size: 14px
        letter-spacing: 1px
        line-height: 32px
        color: #ffffff
    h3 
        margin: 0
        padding: 0 0 18px
        font-size: 60px
        letter-spacing: -2px
        line-height: 72px
        color: #ffffff
        font-weight: 500
    .flex
        justify-content: center
        flex-wrap: wrap
.btn 
    padding-right: 5px
    margin: 10px 0
    a 
        width: 190px